body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001f3f; /* 深蓝色背景 */
    color: #fff; /* 白色文字 */
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px;
}

h2 {
    color: #fff; /* 白色标题文字 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc107; /* 黄色按钮 */
    color: #fff; /* 白色按钮文字 */
    text-decoration: none;
    border-radius: 5px;
}

a.button:hover {
    background-color: #ffdb58; /* 按钮悬停时的背景色 */
}

footer {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#search-bar {
    margin: 20px 0;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    width: 200px;
}

button {
    padding: 8px 16px;
}
