#heading {
    background: url("landsacpe.jpg);
    color: transparent;
    background-clip: text;
    front-size: 20px;
    text-align: center;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* 浅灰色背景 */
    color: #333; /* 深灰色文字 */
}

/* Header styles */
header {
    background-color: #007bff; /* 深蓝色背景 */
    color: #fff; /* 白色文字 */
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav {
    background-color: #333; /* 深灰色背景 */
    color: #fff; /* 白色文字 */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff; /* 白色链接文字 */
    text-decoration: none;
}

/* Main content section styles */
section {
    margin: 20px;
}

h2 {
    color: #007bff; /* 深蓝色标题文字 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
}

a.button:hover {
    background-color: #0056b3; 
}

/* Footer styles */
footer {
    background-color: #333; /* 深灰色背景 */
    color: #fff; /* 白色文字 */
    padding: 10px;
    text-align: center;
}
